body {
  background-color: black;
  color: rgb(43, 255, 0);
  text-shadow: 0 0 1px rgb(43, 255, 0), 0 0 1px rgb(43, 255, 0), 0 0 1px rgb(43, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns items horizontally at the center */
  justify-content: center; /* Aligns items vertically at the center */
  font-family: 'Inconsolata', monospace;
  height: 100vh;
  margin: 0;
}

.title {
  margin-bottom: 40px; /* Adds space below the title */
  display: flex;
}

.title pre {
  font-size: 1vw;
}

a {
  color: rgb(43, 255, 0);
}

@media only screen and (max-width: 600px) {
  .title {
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
  }
  .title pre {
    display: block;
    margin: 0;
    font-size: 5vw;
  }
  .info {
    margin-top: 20px;
    margin-bottom: auto;
  }
}

.info {
  text-align: center;
  font-size: 11px;
  text-shadow: 0 0 1px rgb(43, 255, 0);
  line-height: 1.5;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px;
  top: 0;
  left: 0;
  right: 0;
}

.socials {
  margin-top: 10px;
}

button {
  background-color: black;
  color: rgb(43, 255, 0);
  border: none;
  padding: 10px 0px;
  font-size: 11px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 5px;
  position: relative;
}

.bio-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(43, 255, 0);
  justify-content: center;
  position: relative;
  font-size: 13px;
  text-shadow: 0 0 1px rgb(43, 255, 0);
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 5px;
}

.bio-content {
  padding: 20px;
  height: 100%;
  max-height: 500px;
  line-height: 1.5;
  overflow-y: auto;
  scrollbar-width: thick;
  scrollbar-color: rgb(43, 255, 0) black;
}

.bio-content::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
  margin-right: -1-0px;
}

.bio-content::-webkit-scrollbar-thumb {
  background-color: rgb(43, 255, 0); /* Set the color of the scrollbar thumb */
  border-radius: 0px;
}

.bio-content::-webkit-scrollbar-track {
  background-color: black; /* Set the color of the scrollbar track */
}

h3 {
  font-size: 13px;
  text-transform: uppercase;
}

h3:before {
  content: '> ';
}

ul {
  margin-top: 0;
  padding-inline-start: 0;
}

li {
  list-style-type: none;
  padding-left: 0;
}

li:before {
  content: '*'; /* Set the ">" symbol as the content */
  margin-right: 5px; /* Add some space between the symbol and the text */
}

/* 
.avatar {
  display: flex;
  width: auto;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1vw;
} */
