body {
  line-height: 1.6;
  font-size: 1em;
  padding: 0 10px;
  margin: 60px auto;
  max-width: 850px;
  background-color: black;
  color: white;
}

.nes-balloon {
  color: black;
  border-image-repeat: unset;
}

.nes-container {
  border-color: white;
}

.nes-container.with-title > .title {
  background-color: black;
}

.nes-text.is-primary {
  color: white;
}

.nes-list.is-circle li::before {
  color: white;
}

.super-big {
  font-size: 2.5em;
  margin-right: 10px;
}

.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.topic {
  margin-bottom: 2.5rem;
}

.social-icons a {
  text-decoration: none;
}
.social-icons a:hover {
  text-decoration: none;
}

.footer {
  font-size: 0.7em;
}
