/* Existing styles */
body {
  background-color: rgb(16, 15, 15);
  color: rgb(43, 255, 0);
  text-shadow: 0 0 1px rgb(43, 255, 0), 0 0 1px rgb(43, 255, 0), 0 0 1px rgb(43, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inconsolata', monospace;
  height: 100svh;
  margin: 0;
}

.title {
  margin-bottom: 40px;
  display: flex;
}

.title pre {
  font-size: 1vw;
}

a {
  color: rgb(43, 255, 0);
}

.info {
  text-align: center;
  font-size: 11px;
  text-shadow: 0 0 1px rgb(43, 255, 0);
  line-height: 1.5;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.buttons-bio {
  justify-content: space-around;
}

.toast {
  position: fixed;
  padding: 4px 8px;
  border: 1px solid rgb(43, 255, 0);
  width: auto;
  margin-top: 0px;
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
  color: rgb(43, 255, 0);
  background-color: #090909;
  text-shadow: 0 0 0.5px rgb(43, 255, 0);
  display: none;
  animation: toasting 2s linear forwards;
}

.toast::before {
  content: '[';
  padding: 2px;
}

.toast::after {
  content: ']';
  padding: 2px;
}

.socials {
  margin-top: 10px;
}

button {
  background-color: transparent;
  color: rgb(43, 255, 0);
  border: none;
  padding: 10px 0px;
  font-size: 11px;
  cursor: pointer;
}

button::before {
  content: '[';
  padding: 2px;
}

button::after {
  content: ']';
  padding: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 5px;
  position: relative;
}

.bio-container {
  background-color: #090909;
  z-index: 2;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(43, 255, 0);
  max-width: 800px;
  justify-content: center;
  position: relative;
  font-size: 13px;
  text-shadow: 0 0 1px rgb(43, 255, 0);
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 5px;
}

.bio-content {
  position: relative;
  z-index: 2;
  padding: 20px;
  height: 100%;
  max-height: 500px;
  line-height: 1.5;
  overflow-y: auto !important;
  scrollbar-width: thick;
  scrollbar-color: rgb(43, 255, 0) #090909;
}

.bio-content::-webkit-scrollbar {
  width: 8px;
  margin-right: -1-0px;
}

.bio-content::-webkit-scrollbar-thumb {
  background-color: rgb(43, 255, 0);
  border-radius: 0px;
}

.bio-content::-webkit-scrollbar-track {
  background-color: #090909;
}

h3 {
  font-size: 13px;
  text-transform: uppercase;
}

h3:before {
  content: '> ';
}

ul {
  margin-top: 0;
  padding-inline-start: 0;
}

li {
  list-style-type: none;
  padding-left: 0;
}

li:before {
  content: '*';
  margin-right: 5px;
}

/* Matrix effect */

/* Animations */

.matrix-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.matrix-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0.8;
}

@keyframes matrix-letter {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(100%);
  }
}

@keyframes toasting {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.matrix-effect span {
  position: absolute;
  display: inline-block;
  pointer-events: none;
  font-family: 'Inconsolata', monospace;
  font-size: 8px;
  color: rgb(43, 255, 0);
  animation: matrix-letter 5s linear infinite;
}

/* CRT screen effect */

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #090909;
  width: 80vw;
  height: 80vh;
  position: relative;
  overflow: hidden;
  border: 1px solid #1c1c1c;
  transition: opacity 0.5s;
}

.screen::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.9);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}

.container.on {
  animation: turn-off 1s linear 0s, turn-on 1s linear 2s;
  animation-fill-mode: forwards;
}

.container.on .screen::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.75) 50%);
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.container.on .screen::after {
  animation: flicker 0.15s infinite;
}

@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    filter: brightness(30);
    opacity: 0.2;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 0.5;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    filter: brightness(5);
    opacity: 0;
  }
  51% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

@keyframes turn-off {
  0% {
    transform: scale(1, 1.3) translate3d(0, 0, 0);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    filter: brightness(2);
  }
  100% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    filter: brightness(8);
  }
}

#switch:checked ~ .screen {
  animation: turn-on 4s linear;
  animation-fill-mode: forwards;
}

/* Light Mode */

.light-mode {
  color: #090909;
}

.light-mode .title pre {
  color: #090909;
}

.light-mode .bio-container {
  border-color: #090909;
  background-color: lightgray;
}

.light-mode .bio-container .bio-content {
  text-shadow: none;
  border-color: #090909;
}

.light-mode .bio-container .bio-content::-webkit-scrollbar-thumb {
  background-color: #090909;
}

.light-mode .bio-container .bio-content::-webkit-scrollbar-track {
  background-color: lightgray;
}

.light-mode .info {
  color: #090909;
  text-shadow: none;
}

.light-mode a {
  color: #090909;
}

.light-mode button {
  color: #090909;
}

.light-mode .title pre {
  color: #090909;
  text-shadow: none; /* Remove text shadow in light mode */
}

.light-mode .matrix-effect::before {
  background-color: transparent;
}

.light-mode .matrix-effect span {
  color: rgb(122, 122, 122);
  text-shadow: none;
}

.light-mode .toast {
  color: #090909;
  background-color: lightgray;
  border-color: #090909;
  text-shadow: none;
}

.light-mode .screen {
  border: 1px solid #878787;
  background-color: lightgray;
}

@media only screen and (max-width: 600px) {
  .title {
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
  }

  .title pre {
    display: block;
    margin: 0;
    font-size: 80%;
  }

  .info {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .container {
    margin: 0;
  }

  .screen {
    border: none;
    width: unset;
    padding: 5px;
    height: 100%;
  }
}
